<div class="container">

  <h1> Tickets </h1>

  <ul class="list-group">

      <% tickets.forEach((oneTicket) => { %>
      <li class="list-group-item">
        <div class="details">
          <h5> <%= oneTicket.email %> </h5>
          <p> <%= oneTicket.issue %> </p>
        </div>
        <div class="status">
          <% if(oneTicket.isOpen) { %>
            <p> Open </p>
          <% } else { %>
            <p> Closed </p>
          <% } %>
          <a href="/close/<%= oneTicket._id %>"> Close ticket </a>
        </div>
      </li>

      <% }) %>

  </ul>
</div>
